# ==============================================
# Policy File of /system/binaal Executable File 

# ==============================================
# Type Declaration
# ==============================================

type aal_exec , exec_type, file_type;
type aal ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive aal;
init_daemon_domain(aal)
unconfined_domain(aal)
