# ==============================================
# Policy File of /system/binaee Executable File 


# ==============================================
# Type Declaration
# ==============================================

type aee_exec , exec_type, file_type;
type aee ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive aee;
init_daemon_domain(aee)
unconfined_domain(aee)
