# ==============================================
# Policy File of /system/binakmd8963 Executable File 


# ==============================================
# Type Declaration
# ==============================================

type akmd8963_exec , exec_type, file_type;
type akmd8963 ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive akmd8963;
init_daemon_domain(akmd8963)
unconfined_domain(akmd8963)
