# ==============================================
# Policy File of /system/binatcid Executable File 


# ==============================================
# Type Declaration
# ==============================================

type atcid_exec , exec_type, file_type;
type atcid ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive atcid;
init_daemon_domain(atcid)
unconfined_domain(atcid)
