# ==============================================
# Policy File of /system/binbadblocks Executable File 


# ==============================================
# Type Declaration
# ==============================================

type badblocks_exec , exec_type, file_type;
type badblocks ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive badblocks;
init_daemon_domain(badblocks)
unconfined_domain(badblocks)
