# ==============================================
# Policy File of /system/xbinBGW Executable File 


# ==============================================
# Type Declaration
# ==============================================

type BGW_exec , exec_type, file_type;
type BGW ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive BGW;
init_daemon_domain(BGW)
unconfined_domain(BGW)
