# ==============================================
# Policy File of /system/binbmgr Executable File 


# ==============================================
# Type Declaration
# ==============================================

type bmgr_exec , exec_type, file_type;
type bmgr ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive bmgr;
init_daemon_domain(bmgr)
unconfined_domain(bmgr)
