# ==============================================
# Policy File of /system/binbmm050d Executable File 


# ==============================================
# Type Declaration
# ==============================================

type bmm050d_exec , exec_type, file_type;
type bmm050d ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive bmm050d;
init_daemon_domain(bmm050d)
unconfined_domain(bmm050d)
