# ==============================================
# Policy File of /system/binccci_fsd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type ccci_fsd_exec , exec_type, file_type;
type ccci_fsd ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive ccci_fsd;
init_daemon_domain(ccci_fsd)
unconfined_domain(ccci_fsd)
