# ==============================================
# Policy File of /system/bincodec Executable File 


# ==============================================
# Type Declaration
# ==============================================

type codec_exec , exec_type, file_type;
type codec ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive codec;
init_daemon_domain(codec)
unconfined_domain(codec)
