# ==============================================
# Policy File of /system/bindhcp6c Executable File 


# ==============================================
# Type Declaration
# ==============================================

type dhcp6c_exec , exec_type, file_type;
type dhcp6c ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive dhcp6c;
init_daemon_domain(dhcp6c)
unconfined_domain(dhcp6c)
