# ==============================================
# Policy File of /sbine2fsck Executable File 


# ==============================================
# Type Declaration
# ==============================================

type e2fsck_exec , exec_type, file_type;
type e2fsck ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive e2fsck;
unconfined_domain(e2fsck)
