# ==============================================
# Policy File of /system/binem_svr Executable File 


# ==============================================
# Type Declaration
# ==============================================

type em_svr_exec , exec_type, file_type;
type em_svr ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive em_svr;
init_daemon_domain(em_svr)
unconfined_domain(em_svr)
