# ==============================================
# Policy File of /system/binfactory Executable File 


# ==============================================
# Type Declaration
# ==============================================

type factory_exec , exec_type, file_type;
type factory ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive factory;
init_daemon_domain(factory)
unconfined_domain(factory)
