
type sysfs_wake_lock, fs_type, sysfs_type;
type adb_keys_file, file_type, data_file_type;
type mdns_socket, file_type;
type system_ndebug_socket, file_type;

# ==============================================
# NSA Policy Rule
# ==============================================

# Allow files to be created in their appropriate filesystems.
allow fs_type self:filesystem associate;
allow sysfs_type sysfs:filesystem associate;
allow file_type labeledfs:filesystem associate;
allow file_type tmpfs:filesystem associate;
allow file_type rootfs:filesystem associate;
allow dev_type tmpfs:filesystem associate;

# ==============================================
# MTK Policy Rule
# ==============================================

type custom_file, file_type, data_file_type;
type lost_found_data_file, file_type, data_file_type;
type dontpanic_data_file, file_type, data_file_type;
type resource_cache_data_file, file_type, data_file_type;
type http_proxy_cfg_data_file, file_type, data_file_type;
type acdapi_data_file, file_type, data_file_type;
type ppp_data_file, file_type, data_file_type;
type wide_dhcpv6_data_file, file_type, data_file_type;
type wpa_supplicant_data_file, file_type, data_file_type; 
type radvd_data_file, file_type, data_file_type;           

type dfo_socket, file_type;
type rild2_socket, file_type;
type rild3_socket, file_type;
type rild4_socket, file_type;
type rild_oem_socket, file_type;
type rild_mtk_ut_socket, file_type;
type rild_mtk_ut_2_socket, file_type;
type rild_mtk_modem_socket, file_type;
type rild_atci_socket, file_type;
type rild_md2_socket, file_type;
type rild2_md2_socket, file_type;
type rild_debug_md2_socket, file_type;
type rild_oem_md2_socket, file_type;
type rild_mtk_ut_md2_socket, file_type;
type rild_mtk_ut_2_md2_socket, file_type;
type rild_mtk_modem_md2_socket, file_type;
type rild_atci_md2_socket, file_type;
type netdiag_socket, file_type;
type atci_service_socket, file_type;
type atci_serv_fw_socket, file_type;
type atci_audio_socket, file_type;
type hald_socket, file_type;
type wpa_wlan0_socket, file_type;
type soc_vt_tcv_socket, file_type;
type soc_vt_stk_socket, file_type;
type soc_vt_svc_socket, file_type;
type dbus_bluetooth_socket, file_type;
type bt_int_adp_socket, file_type;
type bt_a2dp_stream_socket, file_type;
type mtpd_socket, file_type;
type dumpstate_socket, file_type;
type agpsd_socket, file_type;
type mnld_socket, file_type;
type ipohctl_socket, file_type;
type sysctl_socket, file_type;
type mdnsd_socket, file_type;
type backuprestore_socket, file_type;
type nfc_socket, file_type;

# 20131213 KKMR1_CQ_CTS_02
allow asec_apk_file rootfs:filesystem associate;


# 20131213 KKMR1_CQ_CTS_02
allow cache_file rootfs:filesystem associate;

 
allow custom_file rootfs:filesystem associate;  
