# ==============================================
# Policy File of /system/bingatord Executable File 


# ==============================================
# Type Declaration
# ==============================================

type gatord_exec , exec_type, file_type;
type gatord ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive gatord;
init_daemon_domain(gatord)
unconfined_domain(gatord)
