# ==============================================
# Policy File of /system/bingsm0710muxd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type gsm0710muxd_exec , exec_type, file_type;
type gsm0710muxd ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive gsm0710muxd;
init_daemon_domain(gsm0710muxd)
unconfined_domain(gsm0710muxd)
