# ==============================================
# Policy File of /system/binhald Executable File 


# ==============================================
# Type Declaration
# ==============================================

type hald_exec , exec_type, file_type;
type hald ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive hald;
init_daemon_domain(hald)
unconfined_domain(hald)
