# ==============================================
# Policy File of /system/binime Executable File 


# ==============================================
# Type Declaration
# ==============================================

type ime_exec , exec_type, file_type;
type ime ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive ime;
init_daemon_domain(ime)
unconfined_domain(ime)
