# ==============================================
# Policy File of /system/binipod Executable File 


# ==============================================
# Type Declaration
# ==============================================

type ipod_exec , exec_type, file_type;
type ipod ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive ipod;
init_daemon_domain(ipod)
unconfined_domain(ipod)
