# ==============================================
# Policy File of /system/binkeystore_cli Executable File 


# ==============================================
# Type Declaration
# ==============================================

type keystore_cli_exec , exec_type, file_type;
type keystore_cli ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive keystore_cli;
init_daemon_domain(keystore_cli)
unconfined_domain(keystore_cli)
