# ==============================================
# Policy File of /system/binlinker Executable File 


# ==============================================
# Type Declaration
# ==============================================

type linker_exec , exec_type, file_type;
type linker ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive linker;
init_daemon_domain(linker)
unconfined_domain(linker)
