# ==============================================
# Policy File of /system/binmdnsd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mdnsd_exec , exec_type, file_type;
type mdnsd ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mdnsd;
init_daemon_domain(mdnsd)
unconfined_domain(mdnsd)
