# ==============================================
# Policy File of /system/binmemsicd3416x Executable File 


# ==============================================
# Type Declaration
# ==============================================

type memsicd3416x_exec , exec_type, file_type;
type memsicd3416x ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive memsicd3416x;
init_daemon_domain(memsicd3416x)
unconfined_domain(memsicd3416x)
