# ==============================================
# Policy File of /system/binmke2fs Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mke2fs_exec , exec_type, file_type;
type mke2fs ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mke2fs;
init_daemon_domain(mke2fs)
unconfined_domain(mke2fs)
