# ==============================================
# Policy File of /system/xbinmnld Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mnld_exec , exec_type, file_type;
type mnld ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mnld;
init_daemon_domain(mnld)
unconfined_domain(mnld)
