# ==============================================
# Policy File of /system/binmtk_agpsd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mtk_agpsd_exec , exec_type, file_type;
type mtk_agpsd ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mtk_agpsd;
init_daemon_domain(mtk_agpsd)
unconfined_domain(mtk_agpsd)
