# ==============================================
# Policy File of /system/binmtkbt Executable File 


# ==============================================
# Type Declaration
# ==============================================

type mtkbt_exec , exec_type, file_type;
type mtkbt ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive mtkbt;
init_daemon_domain(mtkbt)
unconfined_domain(mtkbt)
