# ==============================================
# Policy File of /system/binpq Executable File 


# ==============================================
# Type Declaration
# ==============================================

type pq_exec , exec_type, file_type;
type pq ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive pq;
init_daemon_domain(pq)
unconfined_domain(pq)
