# ==============================================
# Policy File of /system/binresmon Executable File 


# ==============================================
# Type Declaration
# ==============================================

type resmon_exec , exec_type, file_type;
type resmon ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive resmon;
init_daemon_domain(resmon)
unconfined_domain(resmon)
