# ==============================================
# Policy File of /system/binrildmd2 Executable File 


# ==============================================
# Type Declaration
# ==============================================

type rildmd2_exec , exec_type, file_type;
type rildmd2 ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive rildmd2;
init_daemon_domain(rildmd2)
unconfined_domain(rildmd2)
