# ==============================================
# Policy File of /system/binsn Executable File 


# ==============================================
# Type Declaration
# ==============================================

type sn_exec , exec_type, file_type;
type sn ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive sn;
init_daemon_domain(sn)
unconfined_domain(sn)
