# ==============================================
# Policy File of /system/binstagefright Executable File 


# ==============================================
# Type Declaration
# ==============================================

type stagefright_exec , exec_type, file_type;
type stagefright ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive stagefright;
init_daemon_domain(stagefright)
unconfined_domain(stagefright)
