# ==============================================
# Policy File of /system/binstb Executable File 


# ==============================================
# Type Declaration
# ==============================================

type stb_exec , exec_type, file_type;
type stb ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive stb;
init_daemon_domain(stb)
unconfined_domain(stb)
