# ==============================================
# Policy File of /sbintune2fs Executable File 


# ==============================================
# Type Declaration
# ==============================================

type tune2fs_exec , exec_type, file_type;
type tune2fs ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive tune2fs;
unconfined_domain(tune2fs)
