# ==============================================
# Policy File of /system/binvdc Executable File 


# ==============================================
# Type Declaration
# ==============================================

type vdc_exec , exec_type, file_type;
type vdc ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive vdc;
init_daemon_domain(vdc)
unconfined_domain(vdc)
