# ==============================================
# Policy File of /system/binwfd Executable File 


# ==============================================
# Type Declaration
# ==============================================

type wfd_exec , exec_type, file_type;
type wfd ,domain;

# ==============================================
# Android Policy Rule
# ==============================================

# ==============================================
# NSA Policy Rule
# ==============================================

# ==============================================
# MTK Policy Rule
# ==============================================

permissive wfd;
init_daemon_domain(wfd)
unconfined_domain(wfd)
